body {
    font-family: sans-serif;
    background: #222;
}

.tile {
    width: 32px;
    height: 32px;
    font-size: 25px;
    text-align: center;
    overflow: hidden;
    position: absolute;
    background: black;
    color: white;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

#container {
    margin: 0 auto;
    padding: 0;
    width: 700px;
    position: relative;
}

#map {
    width: 480px;
    height: 480px;
    background: black;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

#log {
    font-size: 14px;
    margin: 5px 0;
    border: 1px solid gray;
    width: 459px;
    padding: 10px;
    background: white;
    display: inline-block;
    overflow-y: scroll;
    height: 84px;
}

.message {
    display: block;
}

.debug {
    color: red;
}

#stats {
    width: 200px;
    border: 1px solid gray;
    /* height: 570px; */
    position: absolute;
    left: 485px;
    top: 0px;
    background: lightblue;
    padding: 10px;
}

#name {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
}

#level {
    font-size: 20px;
    float: right;
}

#level:before {
    content: 'lvl '
}

.stat label {
    display: inline-block;
    width: 65px;
}

.stat .value {
    display: inline-block;
    font-weight: bold;
}

#health {
}

#mana {
}

#strength, #dexterity, #mind {
    margin-top: 5px;
}
