.Player {
    color: white;
}
.Player:after {
    content: '@'
}

/* Level 1 */

.Bit {
    color: pink;
    font-weight: bold;
}
.Bit:after {
    content: '.';
}

.Script {
    color: pink;
}
.Script:after {
    content: 's';
}

/* Level 2 */

.Adware {
    color: red;
}
.Adware:after {
    content: 'a';
}

.Spyware {
    color: red;
}
.Spyware:after {
    content: 'y'
}

/* Level 3 */

.Byte {
    color: orange;
}
.Byte:after {
    content: '*';
}

.Virus {
    color: orange;
}
.Virus:after {
    content: 'V';
}

/* Level 4 */

.AntiVirus {
    color: #f0f;
}
.AntiVirus:after {
    content: 'A';
}

.Browser {
    color: #f0f;
}
.Browser:after {
    content: 'B';
}
