.Player:after {
    content: '@'
}

.Bot {
    color: pink;
}

.Bot:after {
    content: 'x';
}

.Script {
    color: pink;
}

.Script:after {
    content: 's';
}

.Adware {
    color: red;
}

.Adware:after {
    content: 'a';
}
