.Player:after {
    content: '@'
}

.Bit {
    color: pink;
}
.Bit:after {
    content: 'b';
}

.Script {
    color: pink;
}
.Script:after {
    content: 's';
}

.Adware {
    color: red;
}
.Adware:after {
    content: 'a';
}

.Spyware {
    color: red;
}
.Spyware:after {
    content: 'y'
}

.Byte {
    color: pink;
}
.Byte:after {
    content: 'B';
}

.Virus {
    color: orange;
}
.Virus:after {
    content: 'V';
}
