.Floor {
    background: #44f;
}

.Wall {
    background: #006;
    box-shadow: inset 0 0 24px #003;
}

.FloorCorruption {
    background: #4a4;
}

.WallCorruption {
    background: #030;
}

.StairUp {
    background: #44f;
}

.StairUp:after {
    content: '<';
}

.StairDown {
    background: #44f;
}

.StairDown:after {
    content: '>';
}
