.Floor {
    background: #44f;
}

.Wall {
    background: #006;
    box-shadow: inset 0 0 24px #003;
}

.FloorCorruption {
    background: #4a4;
}

.WallCorruption {
    background: #050;
    box-shadow: inset 0 0 24px #030;
}

.StairUp {
    background: #44f;
}
.StairUp:after {
    content: '<';
}

.StairDown {
    background: #44f;
}
.StairDown:after {
    content: '>';
}

.Tower {
    background: #707;
    color: #000;
    text-shadow: -4px -4px 12px #f00,
                  4px -4px 12px #00f,
                  0px  4px 12px #0f0,
                  0px  4px 12px #0f0;
}
.Tower:after {
    content: '\25b2';
}

.TowerFloor {
    background: #707;
    color: #ff0;
    text-shadow: 0 0 5px yellow, 0 0 5px yellow, 0 0 5px yellow;
}
.TowerFloor:after {
    content: '\26a1';
}

.TowerBorder {
    background: #a0a;
    text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff;
    color: #f0f;
}
.TowerBorder:after {
    content: '\269b';
}
