.unseen {
    opacity: 0.35;
}

.Player:after {
    content: '@'
}

.Bot {
    color: pink;
}

.Bot:after {
    content: 'x'
}

.Script {
    color: pink;
}

.Script:after {
    content: 's'
}

.Floor {
    background: #44f;
}

.Wall {
    background: #003;
}
